@model MainProject.Models.BookChappter

@{
    ViewData["Title"] = "Index";
    ViewData["H1"] = "Xóa";
    ViewData["Breadcrumb1"] = "Quản lý";
    ViewData["Breadcrumb2"] = "Chương sách";
    ViewData["Breadcrumb3"] = "Xóa";
}
<div class="box box-danger">
    <div class="box-header">
        <h2 class="box-title">Xóa</h2>
    </div>
    <div class="box-body">
        <h4>Bạn chằn chắn rằng bạn muốn xóa chứ?</h4>
        <input type="hidden" asp-for="ID" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd>
                @Html.Raw(Model.Content)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CategoryID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CategoryID.ID)
            </dd>
        </dl>

        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger pull-right" />
                <a asp-action="Index" class="btn btn-default pull-left">Quay lại</a>
            </div>
        </form>
    </div>
    </div>