@model List<History>
@using MainProject.Data;
@inject ApplicationDbContext Context
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Mới nhất</h2>
    </div>
    <div class="panel-body">
        @if (null == Model)
        {
            <label>Chưa có HD NA</label>
        }
        else
        {
            int number = 0;
            @foreach (var item in Model)
            {
                string CategoryName = Context.BookCategory.Where(p => p.ID == item.ChappterID.BookCategoryID).FirstOrDefault().CategoryName;
                if (number == 0)
                {
                    ViewData["ColorPanel"] = "panel-success";
                    number = 1;
                }
                else
                {
                    ViewData["ColorPanel"] = "panel-danger";
                    number = 0;
                }
                <div class="panel @ViewData["ColorPanel"]">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a asp-action="">@CategoryName</a></h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th><a asp-action="index" asp-controller="book" asp-route-slugCa="@item.ChappterID.CategoryID.Slug" asp-route-slugCh="@item.ChappterID.Slug">@item.ChappterID.Name</a></th>
                                    <th>@item.DateTime</th>
                                </tr>
                            </tbody>
                        </table>        
                    </div>
                </div>
            }
        }
    </div>
</div>

