@model List<BookChappter>

@{
    ViewData["Title"] = "Danh sách chương " + ViewData["BookName"];
    ViewData["Breadcrumb1"] = "Sách";
    ViewData["Breadcrumb2"] = ViewData["BookName"];
    ViewData["Breadcrumb3"] = "Danh sách";
    IEnumerable<Message> message = ViewData["Messenger"] as IEnumerable<Message>;
    IEnumerable<HistoryofRedingBook> historyOfReading = ViewData["HistoryofReading"] as IEnumerable<HistoryofRedingBook>;
}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <div class="box-title">
                    <h3>@ViewData["BookName"]</h3>
                </div>
            </div>
            <div class="box-body">
                <table id="layout-skins-list" class="table table-striped bring-up nth-2-center">
                    <thead>
                        <tr>
                            <th>Danh sách chương</th>
                            <th>Xem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            ViewData["IsReaded"] = "text-blue";
                            if (historyOfReading.Any())
                            {
                                var IsReaded = historyOfReading.Where(p => p.BookChappterID == item.ID).First();
                                if (IsReaded != null)
                                {
                                    ViewData["IsReaded"] = "text-black";
                                }
                            }
                            <tr>
                                <td><a asp-action="index" class="@ViewData["IsReaded"]" asp-controller="book" asp-route-slugCa="@item.CategoryID.Slug" asp-route-slugCh="@item.Slug">@item.Name</a></td>
                                <td><label>@item.View lượt xem     <a href="#" data-skin="skin-blue" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a></label></td>
                            </tr>
                        }

                       

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- Chat box -->
        @Html.Partial("~/Views/Messenger/Index.cshtml", message)
        <!-- /.box (chat box) -->
    </div>
</div>



